<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="clearfix"></div>
        <h1 class="text-center">USERS</h1> 
       
    </div>
</div>

 <script>
    
            
    let userList=document.createElement('ul')
    userList.classList.add('users')
    fetch('http://127.0.0.1:3000/users/api', {
        method: 'GET',
        headers: {"Content-Type": "application/json"},
    })
    .then(res=>res.json())
    .then(data=>{
        //console.log(data) 
            
        data.users.map(user=>{
            
            let text=document.createTextNode(user.name)                            
            let e=document.createElement('li')
            e.classList.add('username')    

            
            let e2=document.createElement('img')
            e2.src=user.avatar
            e2.classList.add("avatar")
            
            
            e.appendChild(text)
            
            
            userList.appendChild(e2)
            userList.appendChild(e)
        })

        document.body.appendChild(userList)
    })
</script>

